* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  background-color: #f00;
  grid-column-start: 12 span;
  height: 100px;
}

.aside {
  background-color: #ff0;
  grid-column-start: 2 span;
  min-height: 700px;
}

.main {
  background-color: #0f0;
  grid-column-start: 10 span;
  min-height: 700px;
  align-content: center;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(243px, 1fr));
  gap: 10px;
  padding: 15px;
}

.article {
  background-color: #f80;
  height: 300px;
}

.footer {
  background-color: #00f;
  grid-column-start: 12 span;
  height: 200px;
}

@media (width <= 1200px) {
  .aside {
    grid-column-start: 3 span;
  }
  .main {
    grid-column-start: 9 span;
  }
}

@media (width <= 768px) {
  .aside {
    display: none;
  }
  .main {
    grid-column-start: 12 span;
  }
}
