form {
  font-family: sans-serif;
  border: 2px solid #000;
  border-radius: 10px;
  display: inline-block;
  width: 400px;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}

.fieldset1 input,
textarea {
  display: block;
  border: 1px solid #000;
  border-radius: 7px;
  width: 250px;
  height: 27px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 16px;
}

#checkbox {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: auto;
  cursor: pointer;
}

.checkbox {
  font-size: 16px;
}

textarea {
  min-height: 50px;
  max-height: 200px;
  resize: vertical;
}

button {
  margin-top: 10px;
  padding: 5px 12px 5px;
  cursor: pointer;
  border: none;
  border-radius: 13px;
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  background-color: rgb(202, 202, 225);
  transition: background-color 0.5s ease;
}
