.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title-medium {
  font-size: 36px;
}

.article__section-text {
  margin-bottom: 20px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__section-decor-wrapper {
  position: relative;
}

.article__section-decor-wrapper-1::before {
  top: 100px;
  left: 0;
}

.article__section-decor-wrapper-2::before {
  right: 0;
  bottom: 136px;
}

.article__section-text-link {
  color: rgb(0, 132, 247);
  text-decoration: none;
}

.article-mb {
  margin-bottom: 80px;
}

.article__section-list {
  margin-top: 0;
  padding-left: 22px;
}

.article__section-list-item {
  margin-bottom: 12px;
}

.article__section-list-item::marker {
  color: rgb(0, 157, 255);
  font-size: 24px;
}

.article__section-video {
  margin-bottom: 40px;
}

@media (width < 768px) {
  .article {
    padding-bottom: 60px;
  }

  .article__section-decor-wrapper::before {
    display: none;
  }

  .article-mb {
    margin-bottom: 60px;
  }

  .article-title-medium {
    font-size: 32px;
  }
}

@media (width < 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .article-mb {
    margin-bottom: 40px;
  }

  .article-title-medium {
    font-size: 28px;
  }
}
