* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 15px;
}

.header_flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 0px 15px;
  border-bottom: 1px solid #000;
}

.flex-item {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
}

.li {
  list-style: none;
}

.li-content {
  color: #000;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: #000;
}
