/* 
Thin / Hair	100
Extra Light	200
Light	300
Regular	400
Medium	500
Semi Bold	600
Bold	700
Extra Bold	800
Black / Heavy / Ultra	900 
*/

@font-face {
  font-family: GothamPro;
  src:
    local("GothamPro Light"),
    local("GothamPro-Light"),
    url(../../fonts/GothamPro-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GothamPro;
  src:
    local("GothamPro Regular"),
    local("GothamPro-Regular"),
    url(../../fonts/GothamPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GothamPro;
  src:
    local("GothamPro Medium"),
    local("GothamPro-Medium"),
    url(../../fonts/GothamPro-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GothamPro;
  src:
    local("GothamPro Bold"),
    local("GothamPro-Bold"),
    url(../../fonts/GothamPro-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url(../../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LatinCT-Wide;
  src:
    local("LatinCT-Wide Regular"),
    local("LatinCT-Wide-Regular"),
    url(../../fonts/LatinCT-Wide-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Bahnschrift-Condensed;
  src:
    local("Bahnschrift-Condensed SemiBold"),
    local("Bahnschrift-Condensed-SemiBold"),
    url(../../fonts/Bahnschrift-Condensed-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
