@media (width >= 992px) {
  .burger {
    display: none;
  }
}

@media (width < 992px) {
  .burger {
    position: relative;
    display: flex;
    width: 42px;
    height: 42px;
    margin-top: 12px;
    z-index: var(--layer-3);
  }

  .burger__icon-menu,
  .burger--open .burger__icon-cross {
    display: block;
  }

  .burger__icon-cross,
  .burger--open .burger__icon-menu {
    display: none;
  }
}

@media (width < 576px) {
  .burger {
    width: 32px;
    height: 32px;
  }
}
