.header {
  position: relative;
  padding: 18px 0px 23px;
}

@media (width < 576px) {
  .header {
    padding: 18px 0px 15px;
  }
}

.header::before {
  content: "";
  position: absolute;
  left: -7%;
  top: -40%;
  width: 20vw;
  height: 45vh;
  min-width: 175px;
  min-height: 100px;
  z-index: var(--layer-negative);
  filter: blur(120px);
  background-color: rgb(28, 68, 28, 0.4);
}

@media (width >= 2500px) {
  .header::before {
    display: none;
  }
}

@media (width < 1280px) {
  .header::before {
    filter: blur(80px);
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

@media (width >= 1280px) {
  .header__container {
    gap: 42px;
  }
}

@media (width < 1280px) {
  .header__container {
    gap: 21px;
  }
}

@media (width < 576px) {
  .header__container {
    gap: 14px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__logo-icon {
  width: 52px;
  height: 66px;
}

.header__icon-text {
  text-transform: uppercase;
}

@media (width >= 1280px) {
  .header__icon-text {
    margin-top: 15px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 119%;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
}

@media (width < 1280px) {
  .header__icon-text {
    margin-top: 19px;
    font-family: var(--fourth-family);
    font-weight: 600;
    font-size: 21px;
    line-height: 89%;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
}

@media (width < 576px) {
  .header__icon-text {
    font-size: 14px;
  }

  .header__logo-icon {
    width: 32px;
    height: 46px;
    margin-top: 7px;
  }
}

.header__lang {
  margin-top: 17px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.header__lang-country-icon {
  margin-bottom: 3px;
}

.header__lang-text {
  margin-left: 3px;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color);
}

@media (width >= 1280px) {
  .header__lang-text {
    font-size: 18px;
  }
}

@media (width < 1280px) {
  .header__lang-text {
    font-size: 15px;
  }

  .lang__arrow-icon {
    margin-top: 2px;
  }
}

@media (width < 992px) {
  .header__lang-text {
    font-size: 15px;
  }

  .lang__arrow-icon {
    margin-top: 2px;
  }
}

@media (width < 576px) {
  .header__lang-text {
    font-size: 14px;
  }
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 17px;
  margin-left: auto;
}

@media (width < 576px) {
  .header__controls {
    gap: 8px;
  }
}
